body {
  padding: 61px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer p {
  padding: 0 15px;
  border-top: 1px solid #d7d7d7;
}
