extends ../includes/layout

block main-content
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") MultiVision
					h6 -Extreme Trainning Tech
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href="/") Home
	section.content
		div(ng-view)

	footer.container.text-center
		p &copy; MultiVision Corp International
