.container
	.jumbotron
		h1 MultiVision
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet a praesentium animi veniam? Nemo sint ea saepe, esse omnis facilis pariatur consectetur sed architecto ducimus tempore, reiciendis veritatis maxime accusamus?
	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")
		